@keyframes slideNext {
  from {
    left: 100%; }
  to {
    left: 0; } }

@keyframes slidePrev {
  from {
    left: -100%; }
  to {
    left: 0; } }

@keyframes slideActiveLeft {
  from {
    left: 0; }
  to {
    left: -100%; } }

@keyframes slideActiveRight {
  from {
    left: 0; }
  to {
    left: 100%; } }

.carousel {
  height: 450px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 80%;
  margin: auto; }
  .carousel .slide {
    background-position: center center;
    height: 100%;
    position: absolute;
    width: 100%; }
    .carousel .slide.active {
      z-index: 2; }
      .carousel .slide.active.left {
        animation-name: slideActiveLeft;
        animation-duration: 1s; }
      .carousel .slide.active.right {
        animation-name: slideActiveRight;
        animation-duration: 1s; }
    .carousel .slide.next {
      left: 100%;
      z-index: 2;
      animation-name: slideNext;
      animation-duration: 1s; }
    .carousel .slide.prev {
      left: -100%;
      z-index: 2;
      animation-name: slidePrev;
      animation-duration: 1s; }
  .carousel .slide-left {
    transform: translateX(-100%); }
  .carousel .carousel-viewer {
    background-size: 100%;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 4; }
    .carousel .carousel-viewer.carousel-viewer-next {
      right: -100%; }
  .carousel .carousel-arrow {
    background: none;
    border: none;
    color: white;
    opacity: .3;
    outline: none;
    padding: 0;
    position: absolute;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    top: 42%;
    transition: all .3s;
    z-index: 5; }
    .carousel .carousel-arrow:hover {
      cursor: pointer;
      opacity: .6; }
    .carousel .carousel-arrow.left {
      left: 24px; }
    .carousel .carousel-arrow.right {
      right: 24px; }

.carousel-slide-left {
  transform: translateX(-100%);
  transition: all 2s; }

.carousel-breadcrumb {
  bottom: 20px;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 5; }
  .carousel-breadcrumb li {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
    display: inline-block;
    height: 5px;
    margin: 0 5px;
    transition: all .3s;
    width: 40px; }
    .carousel-breadcrumb li:hover {
      background: white;
      cursor: pointer;
      opacity: .6; }
    .carousel-breadcrumb li.active {
      background: white;
      opacity: 1; }
